  <!-- Comienzo seccion de login-->
  <section id="loginPage" class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <img id="logo-login" src="../src/assets/img/Sogbu Restaurant Logo (2).jpg" class="rounded mx-auto d-block" alt="logo de FoodGram">
        <h1>FoodGram</h1>
        <hr>
        <form>
        <app-login-email></app-login-email>
          <div class="container">
            <div class="row">
              <div class="col-lg-10 mx-auto textAlign">
                <!-- Login Facebook -->
               <app-login-fb></app-login-fb>
                <!--  login Google -->
              <app-login-google></app-login-google>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- Fin seccion de login -->
